{% extends "layout.html" %}
{% block content %}
       
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              <p>
                <button class="btn btn-outline-success">{{post.category}}</button>
              </p>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
            {% if post.image %}
                <p>{{post.image[0]}}</p>
                <img class="w-25" src="/static/images/{{post.image[0]}}" alt="" srcset=""/>
            {%endif%}
          </div>
        </article>
        {% endfor %}
        <!-- <ul>
          {%for category in categories%}
             <li>{{category.name}}</li>
          {%endfor%}
        </ul> -->
{% endblock content %}

